---
// src/components/Header.astro
import styles from "/styles/header.module.css";
---

<header class={styles.header}>
  <div class={styles.flexRow}>
    <a href="/">
      <img src="/favicon.svg" alt="Logo" width="64" height="64" />
    </a>
    <ul class={styles.navList}>
      <li><a href="/" class={styles.navLink}>about</a></li>
      <li><a href="/blog" class={styles.navLink}>blog</a></li>
      <li><a href="/thoughts" class={styles.navLink}>thoughts</a></li>
      <li><a href="/misc" class={styles.navLink}>misc</a></li>
    </ul>
  </div>
</header>

<style>
  /* Scoped styles just for header */
  .{styles.header} {
    width: 100%;
    padding-top: 1rem;
  }
  
  .{styles.flexRow} {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .{styles.navList} {
    display: flex;
    list-style: none;
    padding: 0;
    margin-left: 1rem;
    gap: 1rem;
  }
  
  .{styles.navLink} {
    font-size: 2rem;
    color: var(--red-dim);
    transition: font-size 0.1s;
  }
  
  .{styles.navLink}:hover {
    color: var(--red);
    text-decoration: none;
  }
</style>